html{
 height: 100%;   
}
*{
    transition: all .3s;
}
.g{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.custom{
    height: 10px;
    background-color: #fa4529;
    width: 100%;
}
/* Define scrollbar width, color, and radius */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track (the area where the scrollbar moves) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #fa4529;
  }
.f{
    position: fixed;
    width: 100%;
    transition: .3s;
}
#navbar{
    z-index: 1;
}
span.active{
    color: #fa4529;
}
.opened{
    overflow: visible !important;
    height: auto !important;
    padding: 1.25rem !important;
}
.target{
    max-height: 0;
    overflow: hidden;
    transition: .6s;
}
.proactive{
    color: #fa4529;
    /* font-weight: bold; */
}
.t:hover{
    background: #5e99f1;
}
.i:hover{
    background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d);
}
.ul-li li:hover span{
    background-color: orangered;
}
/* .max-h{
    height: auto imo !important;
} */
.dropdown-content{
}
.ul-li li:hover .dropdown-content{
    height:264px;
    color: black;
}